/*---------------- Table 1 CSS ----------------*/
table.table1, table.table1 th, table.table1 td {
  border: 1px solid black;
}

/*---------------- Table 2 CSS ----------------*/
.table2 {
  border-collapse: collapse;
  width: 50%;
}

.table2, .table2 th, .table2 td {
  border: 2px solid blue;
  padding: 0.25em;
}

.table2 th {
  height: 50px;
  text-align: left;  /* default is center */
  vertical-align: bottom;  /* default is middle */
}

/*---------------- Table 3 CSS ----------------*/
.table3 {
  border-collapse: collapse;
  width: 75%;
}

.table3 th {
  border-top: 2px solid black;
  background-color: #4CAF50;
  color: white;
}

.table3 th, .table3 td {
  border-bottom: 2px solid black;
  text-align: center;
  padding: 0.25em;
}

.table3 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table3 tr:hover {
  background-color: #baecea;
}
