table {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.table c-tablo:nth-of-type(odd) {
    background-color: white;
}

.table c-tablo:nth-of-type(even) {
    background-color: rgb(218, 224, 255);
}

.table button {
    padding: 4px 6px;
    margin: 6px;
}

.table c-tablo {
    height: 50px;
    padding: 0px 8px;
}

.table c-tablo>.col {
    display: flex;
    align-items: center;
    text-align: start;
}

.table .row {
    margin: 0px;
}

.sayfalamaCSS {
    justify-content: center;
    display: flex;
    height: 50px;
}

.sayfalamaCSS>* {
    border-radius: 5px;
    text-align: center;
    margin-right: 6px;
    padding: 1px 8px;
    font-size: 20px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.sayfalamaCSS .current {
    color: #fff;
    background: blue;
}

.bold {
    font-weight: bold;
}

.table-header,
.tableFooter {
    text-align: start;
    background-color: rgb(225, 225, 225);
    height: 55px;
    align-items: center;
    padding: 0px 8px;
}

.totalPage .current {
    background-color: blue;
    color: white;
}

.totalPage {
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.totalPage>* {
    width: 35px;
    cursor: pointer;
    margin: 0px;
    padding: 3px 0px;
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}



.totalPage>*:first-of-type {
    border-radius: 8px 0px 0px 8px;
}

.totalPage>*:last-of-type {
    border-radius: 0px 8px 8px 0px;
}

@media (max-width: 992px) {
    .table .dept {
        display: none;
    }
}

@media (max-width: 768px) {
    .table .number {
        display: none;
    }
}