#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}

#buyukBirDiv {
    width: 500px;
    height: 500px;
    background: purple;
    border: 5px solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

#h1De {
    color: red;
}